.show-menu-content {
    transform: translateY(0) translateY(60rem);
  }
  
  .hide-menu-content {
    transform: translateY(0) translateY(-60rem);
  }
  
  .menu-content {
    position: absolute;
    top: -50rem;
    left: 0;
    right: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.6rem 2rem;
    gap: 2rem;
  
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font-color-primary);
    background-color: var(--bg-header);
  
    transition: 0.5s;
    z-index: 10;
  
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    
    .logout-button {
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--bg-header);

      border: 2px solid var(--bg-color-grey5);
      background-color: var(--bg-color-grey5);
      
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      border-radius: .9rem;
      height: 2rem;
      width: 10rem;
      cursor: pointer;
      transition: .5s;
    }
    
  }
  
  
  @media (min-width: 950px) {
      .menu-content {
          position: static;
    
          flex-direction: row;
          justify-content: center;
    
          z-index: 100;
    
          transition: none;
    
          ul {
            flex-direction: row;
    
            li {
              cursor: pointer;
            }
          }
    
        }
  }